body {
  margin: 0px;
}

#MDPTypeDropdownContainer {
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  height: 5vh;
  border: 0.5vh solid #21f3f0;
  background-color: transparent;
  border-radius: 5%/50%;

}


#graphViewContainer {
  height: 100%;
  background-color: transparent;
  zoom: 100%;
}


#graphViewContainerBorder {
  border: 0.5vh solid #21f3f0;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 5% 5%;
  margin: 2.5vh;
  clip-path: inset(0px round 5%);
  zoom: 100%;
  overflow: hidden;
}

#optionsContainer {
  border: 0.5vh solid #f32121;
  background-color: transparent;
  box-sizing: border-box;
  width: 95%;
  height: 95%;
  border-radius: 5% 5%;
  margin: 2.5vh;
  zoom: 100%;
}

#settingsicon {
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  margin-left: 50vh;
  height: 10vh;
  width: 10vh;
  align-self: flex-end;
}

#filterAndDataContainer {
  margin-top: 2.5vh;
  margin-right: 2.5vh;
  height: 75vh;
  width: 60vh;
  border: 0.1vh solid #21f3f0;
  background-color: transparent;
  border-radius: 5%;
}