#graphViewContainer {
    border: 0.5vh solid #21f3f0;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 5% 5%;
    margin: 2.5vh;
    clip-path: inset(0px round 5%);
}